$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);
$colorBlack07:rgba(0, 0, 0, 0.702);
$colorLightBlue: rgb(78, 178, 247);
$colorViolet: rgb(192, 73, 248);
$colorBlue: rgb(129, 126, 255);
$colorTerracotta: rgb(247, 71, 112);
$colorOrangeSplashy: rgba(255, 243, 240, 0.5);
$colorWhiteGray:rgb(241, 241, 240);
$backColorOR: rgb(255, 92, 54);
$colorOR08: rgba(252, 103, 68, 0.8);
$colorGray: rgb(224, 224, 224);
$colorTransparentGray20: rgba(20, 20, 21, 0.21);
$colorTransparentBlack75: rgb(110, 110, 110);
$colorTranGray70:rgba(65, 65, 65, 0.702);
$colorBlack085:rgba(32, 32, 32, 0.851);
$colorBackground: rgb(251, 251, 251);
$colorFooter: rgb(247, 247, 247);
