doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ***
        link(rel="stylesheet" type="text/css" href="./css/main.css")
    body
        div.wrapper
            include components/header
            include components/work-procces
            include components/featured-work
            include components/services
            include components/team
            include components/client-said 
            include components/logo
            include components/footer