section.clients-said
  h2.title-h2
    span.title-orange Clients
    |  Said
  p.subtitle
    | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
  .clients-said-box
    #services-switch-l
    #clients-said-slide1
      .clients-said-rectangle
        .clients-said-photo
        p
          | “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
        .clients-said-star
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
        p Kita Say, HK Director
      .clients-said-rectangle
        .clients-said-photo
        p
          | “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
        .clients-said-star
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
          img.star(src='images/star.svg')
        p Kita Say, HK Director
    #clients-said-slide2
    #clients-said-slide3
    #services-switch-r
    .clients-said-slide
      .services-switch1
      .services-switch2
      .services-switch3
