section.clients-said
  div.wrapper
    .section-title
      h2.title-h2
        span.title-orange Clients
        |  Said
      p.subtitle
        | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    .clients-said-box
      #services-switch-l
        p <
      #clients-said-slide1
        .clients-said-rectangle
          .clients-said-photo
          p.clients-said-p
            | “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .clients-said-star
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
          p.fatty
            | Kita Say, 
            span.cursive   HK Director
        .clients-said-rectangle
          .clients-said-photo.clients-said-photo2
          p.clients-said-p
            | “This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .clients-said-star
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
          p.fatty
            | Al Rayhan,
            span.cursive  UX Director
      #clients-said-slide2
        .clients-said-rectangle
          .clients-said-photo
          p.clients-said-p
            | “2 This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .clients-said-star
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
          p.fatty
            | 2 Kita Say, 
            span.cursive   HK Director
        .clients-said-rectangle
          .clients-said-photo.clients-said-photo2
          p.clients-said-p
            | “ 2This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .clients-said-star
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
          p.fatty
            | Al Rayhan,
            span.cursive  UX Director
      #clients-said-slide3
        .clients-said-rectangle
          .clients-said-photo
          p.clients-said-p
            | “3 This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .clients-said-star
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
          p.fatty
            | 3 Kita Say, 
            span.cursive   HK Director
        .clients-said-rectangle
          .clients-said-photo.clients-said-photo2
          p.clients-said-p
            | “3 This was my first time renting from car rental. The service rep help me find the best rental to suit my needs. I will definitely rent with this company again”
          .clients-said-star
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
            img.star(src='images/star.svg')
          p.fatty
            | Al Rayhan,
            span.cursive  UX Director
      #services-switch-r
        p >
      .clients-said-slide
        #services-switch1
        #services-switch2
        #services-switch3
  