section.featured-works
  div.wrapper
    .section-title
      h2.title-h2
        h2.title-h2
          span.title-orange Featured
          |  Works
        p.subtitle
          | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    .featured-works-box
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
      .featured-works-blok
  