footer
    div
      p.know-more
          spam  
          | Contact Us
    .footer-social-box
      .footer-social
        p.footer-social-p 
      .footer-social
        p.footer-social-p 
      .footer-social
        p.footer-social-p 
      .footer-social
        p.footer-social-p 
      .footer-social-deviserweb © 2017 Deviserweb Ltd.