header
  div.wrapper
    .logot-menu
      h2.logot.title-h2
        span.title-orange  S
        | mart
      menu
        ul.menu-ul
          li
          li
          li
        ul.menu-ul-none
          li
          li Working process
          li
          li
          li
    .section-title
      h2.title-h2
        span.title-orange Smart
        |  Agency Landign Page
      p.subtitle
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates        doloremque rerum aspernatur dolorum at!
    .header-box
    form
      .form-title
        span.title-orange Send
        |  A Message
      .div-input
        input(type='text' value="Your Name")
      .div-input
        input(type='email' value="Your Email")
      .div-input.div-input2
        input(type='text' value="Your Message")
      .work-procces-div2
          p.know-more.heder-send-message
            | Send Message 
            spam -> 