header
  .logot-menu
    h2.logot.title-h2
      span.title-orange  S
      | mart
    menu
      ul
        li ___
        li ___
        li ___
      ul
        li
        li Working process
        li
        li
        li
  h2.title-h2
    span.title-orange Smart
    |  Agency Landign Page
  p.header-subtitle.subtitle
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates        doloremque rerum aspernatur dolorum at!
  .header-box
  form
    .form-title
      span.title-orange Send
      |  A Message
    .div-input
      input(type='text')
      | 1
    .div-input
      input(type='email')
      | 2
    .div-input
      input(type='text')
      | 3
    input(type='submit')
