section.section-logo
  div.wrapper.logo
    .logotype
      img(src='images/logo1.svg')
    .logotype
      img(src='images/logo2.svg')
    .logotype
      img(src='images/logo3.svg')
    .logotype
      img(src='images/logo2.svg')
    .logotype
      img(src='images/logo1.svg')