section.services
  h2.title-h2
    span.title-orange Services
    |  We Provide
  p.subtitle
    | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
  .services-box
    .services-blok.services-blok1
      .services-icon
        img(src='images/011.gif')
      .services-icon
        img(src='images/012.gif')
      .services-icon
        img(src='images/013.gif')
      .services-icon
        img(src='images/014.gif')
    .services-blok.services-blok2
      p.services-h3 Modern App Design
      p.red-line _______
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
      p vitae eveniet quam rem unde facilis.
      div
        p.know-more
          spam + 
          | Know More
    .services-blok.services-blok3
      img(src='images/apple-watch-mockup.gif')
