section.services
  div.wrapper
    .section-title
      h2.title-h2
        span.title-orange Services
        |  We Provide
      p.subtitle
        | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    .services-box
      .services-blok.services-blok1
        .services-icon
          img(src='images/011.gif')
        .services-icon
          img(src='images/012.gif')
        .services-icon
          img(src='images/013.gif')
        .services-icon
          img(src='images/014.gif')
      #services-slide11.services-blok.services-blok2
        p.services-h3 Modern App Design
        p.red-line _______
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
        p vitae eveniet quam rem unde facilis.
        div
          p.know-more
            spam + 
            | Know More
      #services-slide21.services-blok.services-blok3
        img(src='images/apple-watch-mockup.gif')
      #services-slide12.services-blok.services-blok2
        p.services-h3 Modern App Design2
        p.red-line _______
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis officiis minus unde temporibus quam laudantium iste ratione autem? Modi vel sed, quis perspiciatis hic quae corporis neque repudiandae aliquam eum.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
        p vitae eveniet quam rem unde facilis.
        div
          p.know-more
            spam + 
            | Know More
      #services-slide22.services-blok.services-blok3
        img(src='images/apple-watch-mockup2.gif')
      #services-slide23.services-blok.services-blok2
        p.services-h3 Modern App Design3
        p.red-line _______
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, assumenda dignissimos vel optio natus facilis, rerum consectetur at tempore temporibus labore quis tenetur quas commodi recusandae est eaque iure voluptates.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
        p vitae eveniet quam rem unde facilis.
        div
          p.know-more
            spam + 
            | Know More
      #services-slide23.services-blok.services-blok3
        img(src='images/apple-watch-mockup3.gif')
      #services-slide14.services-blok.services-blok2
        p.services-h3 Modern App Design4
        p.red-line _______
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatibus quibusdam itaque aliquid, incidunt maxime optio necessitatibus? Qui provident, accusamus a eligendi rerum! Culpa ab dolore veritatis magni illo perferendis.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
        p vitae eveniet quam rem unde facilis.
        div
          p.know-more
            spam + 
            | Know More
      #services-slide24.services-blok.services-blok3
        img(src='images/apple-watch-mockup4.gif')
  