section.services
  h2.title-h2
    span.title-orange Services
    |  We Provide
  p.subtitle
    | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
  .services-box
    .services-blok
      .services-icon
      .services-icon
      .services-icon
      .services-icon
    .services-blok
      p.services-h3 Modern App Design
      p.red-line _____
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum totam ad sint error porro. Consectetur, sunt, aperiam. Magni rem optio distinctio illum consequuntur delectus nulla illo aperiam itaque cumque.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia vitae eveniet quam rem unde facilis.
      p vitae eveniet quam rem unde facilis.
      div
        p.know-more
          spam + 
          | Know More
    .services-blok
