section.team-chinen-skills
  h2.title-h2
    span.title-orange Team
    |  Chinen & Skills
  p.subtitle
    | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
  .team-chinen-skills-box
    .team-chinen-skills-blok
      .ui-ux-parena
        p.ui-ux-name Bedi Manos
        p.ui-ux-par UI/UX Parena
      .ui-ux-parena-hover
        div
          p UI/UX  Design
        div
          p English
        div
          p Communication
        p.ui-ux-name Bedi Manos
        p.ui-ux-par UI/UX Parena
        .ui-ux-box-icon
          img.ui-ux-icon(src='social1')
          img.ui-ux-icon(src='social2')
          img.ui-ux-icon(src='social3')
    .team-chinen-skills-blok
      .ui-ux-parena
        p.ui-ux-name Al Rayhan
        p.ui-ux-par UI/UX Parena
      .ui-ux-parena-hover
        div
          p UI/UX  Design
        div
          p English
        div
          p Communication
        p.ui-ux-name Al Rayhan
        p.ui-ux-par UI/UX Parena
        .ui-ux-box-icon
          img.ui-ux-icon(src='social1')
          img.ui-ux-icon(src='social2')
          img.ui-ux-icon(src='social3')
    .team-chinen-skills-blok
      .ui-ux-parena
        p.ui-ux-name Ali Sayed
        p.ui-ux-par UI/UX Parena
      .ui-ux-parena-hover
        div
          p UI/UX  Design
        div
          p English
        div
          p Communication
        p.ui-ux-name Ali Sayed
        p.ui-ux-par UI/UX Parena
        .ui-ux-box-icon
          img.ui-ux-icon(src='social1')
          img.ui-ux-icon(src='social2')
          img.ui-ux-icon(src='social3')
