section.team-chinen-skills
  div.wrapper
    .section-title
      h2.title-h2
        span.title-orange Team
        |  Chinen & Skills
      p.subtitle
        | Lorem ipsum dolor sit amet consectetur adipisicing elit Maiores fuga provident Libero.
    .team-chinen-skills-box
      .team-chinen-skills-blok
        .ui-ux-parena
          p.ui-ux-name Bedi Manos
          p.ui-ux-par UI/UX Parena
        .ui-ux-parena-hover
          .skills-box
            p UI/UX  Design
            .skills
              .skills-ui
            p English
            .skills
              .skills-english
            p Communication
            .skills
              .skills-communication
          p.ui-ux-name.ui-ux-name-hover Bedi Manos
          p.ui-ux-par.ui-ux-par-hover UI/UX Parena
          .ui-ux-box-icon
            .ui-ux-social 
            .ui-ux-social 
            .ui-ux-social 
      .team-chinen-skills-blok
        .ui-ux-parena
          p.ui-ux-name Al Rayhan
          p.ui-ux-par UI/UX Parena
        .ui-ux-parena-hover
          .skills-box
            p UI/UX  Design
            .skills
              .skills-ui
            p English
            .skills
              .skills-english
            p Communication
            .skills
              .skills-communication
          p.ui-ux-name.ui-ux-name-hover Al Rayhan
          p.ui-ux-par.ui-ux-par-hover UI/UX Parena
          .ui-ux-box-icon
            .ui-ux-social 
            .ui-ux-social 
            .ui-ux-social 
      .team-chinen-skills-blok
        .ui-ux-parena
          p.ui-ux-name Ali Sayed
          p.ui-ux-par UI/UX Parena
        .ui-ux-parena-hover
          .skills-box
            p UI/UX  Design
            .skills
              .skills-ui
            p English
            .skills
              .skills-english
            p Communication
            .skills
              .skills-communication
          p.ui-ux-name.ui-ux-name-hover Ali Sayed
          p.ui-ux-par.ui-ux-par-hover UI/UX Parena
          .ui-ux-box-icon
            .ui-ux-social 
            .ui-ux-social 
            .ui-ux-social 
  