section.work-procces
  h2.title-h2
    span.title-orange Working
    |  Process
  p.subtitle
    | Lorem ipsum dolor sit amet consectet ur adipiscing elit Vestibulum bibend um vestibulum.
  .work-procces-box
    .work-procces-blok.blok-background1
      p.work-procces-icon.work-procces-div 
      p.work-procces-h3.work-procces-div Koc Koi Tomi
      p.work-procces-span.work-procces-div Lorem ipsum is dummy lorem very dumy
      // <div class="work-procces-div">
      p.know-more.work-procces-know-more
        spam + 
        | Know More
      // </div>
    .work-procces-blok.blok-background2
      p.work-procces-icon 
      p.work-procces-h3 Koimona Set
      p.work-procces-span Lorem ipsum is dummy you   lorem very dumyL is 
      div
        p.know-more.work-procces-know-more
          spam + 
          | Know More
    .work-procces-blok.blok-background3
      p.work-procces-icon 
      p.work-procces-h3 Setting Koire
      p.work-procces-span Lorem ipsum is dummy lorem very yLorem ipsus 
      div
        p.know-more.work-procces-know-more
          spam + 
          | Know More
    .work-procces-blok.blok-background4
      p.work-procces-icon 
      p.work-procces-h3 Ko Image Lara
      p.work-procces-span Lorem ipsum is dummy ry dumyLorem ipsum is 
      div
        p.know-more.work-procces-know-more
          spam + 
          | Know More
