footer {
    background-color: rgb(247, 247, 247);
    padding:50px  0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-social-box{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center; 
}



.footer-social {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgb(211, 211, 211);
    text-align: center;
}

.footer-social:hover {
    border-radius: 50%;
    background-color: rgb(255, 110, 71);
    box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.29);
}

.footer-social-p {
    font-size: 16px;
    font-family: "FontAwesome";
    color: rgb(255, 255, 255);
    line-height: 1.425;
    -moz-transform: matrix( 1.35602087292319, 0, 0, 1.33333191280721, 0, 0);
    -webkit-transform: matrix( 1.35602087292319, 0, 0, 1.33333191280721, 0, 0);
    -ms-transform: matrix( 1.35602087292319, 0, 0, 1.33333191280721, 0, 0);
}

.footer-social-deviserweb {
    font-size: 17px;
    font-family: "OpenSans";
    color: rgba(4, 4, 4, 0.6);
    line-height: 2.691;
    text-align: center;
}
