.ui-ux-parena {
    width: 260px;
    height: 95px;
    background: $colorWhite;
    font-family: "OpenSans";
    text-align: center;
    position: absolute;
    bottom: -25px;
}

.ui-ux-parena-hover {
    width: 360px;
    height: 445px;
    margin-bottom: 30px;
    background: $colorOrangeSplashy;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
}

.team-chinen-skills-blok {
    width: 360px;
    height: 445px;
    margin-bottom: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.ui-ux-name {
    display: block;
    width: 100%;
    font-size: 22px;
    color: $colorBlack07;
}

.ui-ux-par {
    display: block;
    width: 100%;
    font-size: 12px;
    color: $colorBlack07;
}

.ui-ux-box-icon {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.ui-ux-social {
    display: inline;
    font-size: 16px;
    margin: 0 9px;
    font-family: "FontAwesome";
    color: $colorOrangeSplashy;
    text-align: center;
}

.ui-ux-par-hover {
    font-size: 16px;
    color: $colorOR08;
}

.ui-ux-name-hover {
    margin: 0;
    color: $colorBlack085;
}

.skills-box {
    width: 100%;
    font-size: 10.83px;
    color: rgb(0, 0, 0);
    margin-bottom: 80px;
}

.skills {
    width: 42%;
    height: 4px;
    margin: 0 29%;
    background: $colorTransparentBlack75;
}

.skills-ui {
    border: solid 2px $backColorOR;
}

.skills-english {
    border: solid 2px $backColorOR;
}

.skills-communication {
    border: solid 2px $backColorOR;
}
